body {
  background-image: url(../images/backgroundimage.png);
}

#mainLogo {
  margin-top: 15px;
}

hr {
  color: white;
}

h1 {
  color: tomato;
  font-family: "metalLord";
  font-size: 90px;
}

button {
  font-family: "metalLord";
}

form {
  color: white;
  font-family: monospace;
}

@font-face {
  font-family: "metalLord";
  src: url(../fonts/metal_lord.ttf);
  font-weight: normal;
  font-style: normal;
}
#searchbtn {
  color: tomato;
}

#choices {
  margin-top: 30px;
}

#trackListing {
  font-family: monospace;
  font-size: 20px;
  margin-bottom: 10px;
}

#trackListing:hover {
  text-decoration: underline;
  opacity: 70%;
  cursor: pointer;
}