@font-face {
  font-family: "metalLord";
  src: url(../fonts/metal_lord.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(../images/backgroundimage.png);
}

.dark-mode{
  background-image: url(../images/lightMode_img.jpg);
}
.dark-mode-boxes{
  background-color: #45505a;
}

.wrapper {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
}

.box {
  background-image: url(../images/backgroundimage.png);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 200%;
  text-align: center;
}

.a {
  grid-row: 2 / 6;
  grid-column: 1 / 2;
}

.b {
  grid-row: 2 / 6;
}

.c {
  grid-column: 1 / 3;
  grid-row: 6 / 8;
}

.d {
  grid-row: 7 / 9;

}

.header {
  display: grid;
  position: absolute;
  top: 0em;
  background-color: black;
  margin-left: 10px;
  width: 1900px;
  height: 75px;
  grid-template-columns: 2fr 1fr;
}

#homeBtn {
  width: 175px;
  height: 100%;
}

.btn-group {
  position: absolute;
  right: 20px;
  top: 25px;
  
}


.footer {
  font-family: "metalLord";
  text-align: center;
  background-color: #eb3c34;
  width: 100%;
  position: absolute;
  bottom: 0em;
}

#eventTitle {
  line-height: 1em;
  height: 3em;       
  overflow: hidden;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}
#eventDate,
#eventLocation {
  line-height: 1em;
  height: 1em;       
  overflow: hidden;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}

#eventImage {
  width: 305px;
  height: 225px;
}

#lyrics {
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 25px;
}

#copyright {
  position: relative;
  width: 100%;
}
#concertImg {
  height: 160px;
  bottom: 40px;
  display: inline;
  padding-top: 30px;
}


#concertImg:hover {
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 68px;
  width: 80px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #241c1c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fdfdfd;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(525px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



