body {
    background-image: url(../assets/images/login_background.png);
}

h1, button {
    color: white;
    font-family: 'metalLord';
}

form {
    color: white;
    font-family: monospace;
}

@font-face {
    font-family: 'metalLord';
    src: url(../assets/metal\ lord.ttf);
    font-weight: normal;
    font-style: normal;
}