body {
    background-image: url(../assets/images/login_background.png);
}

h1, form {
    font-family: monospace;
    color: white;
    font-family: 'metalLord';
}

@font-face {
    font-family: 'metalLord';
    src: url(../assets/metal\ lord.ttf);
    font-weight: normal;
    font-style: normal;
}